body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #17a2b8;
  }
  label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
  }
  textarea {
    width: 90%;
    padding: 10px;
    border: 2px solid #17a2b8;
    border-radius: 5px;
    resize: none;
    transition: border-color 0.3s ease;
  }
  textarea:focus {
    border-color: #138496;
  }
  .banner {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 20px 0;
  }
  .bannerType1 {
    margin-bottom: 10px;
  }
  .bannerType1 label {
    cursor: pointer;
    padding-left: 5px;
  }
  button {
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #138496;
  }
  button:active {
    background-color: #0f7a79;
  }
  button:focus {
    outline: none;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    border: 1px solid #17a2b8;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    transition: border-color 0.3s ease;
  }
  input[type="radio"]:checked + label {
    border: 2px solid #17a2b8;
    color: #17a2b8;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border-color: #138496;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  form > * {
    width: 100%;
  }
  @media (max-width: 768px) {
    .main {
      width: 90%;
      height: 95%;
      display: flex;
      border-radius: 0px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .banner {
      flex-direction: column;
      gap: 20px;
    }
    .bannerType1 {
      margin-bottom: 0;
    }
  }